<p id="notice"><%= notice %></p>
<!-- JumboTron -->
<div class="jumbotron">
    <div class="container">
        <h1>Listing Shops</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    </div>
</div>
<!-- JumboTron -->
<%= link_to 'New Shop', new_shop_path %>
<hr>

<% @shops.each do |shop| %>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <%= cl_image_tag(shop.image, :gravity=>"face", :crop => "fill", :width => 450, :height => 450, :class => "thumbnail ") %>

            <div class="caption">
                <h3><%= link_to shop.name , shop_path(shop) %></h3>
                <p><%= shop.description%></p>

            </p>
        </div>
    </div>
</div>
</div>

<% end %>
