<p id="notice"><%= notice %></p>

<h1>Listing Shops</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>

            <th>Product</th>
            <th>Image</th>

            <!-- <th>Product</th> -->

            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @shops.each do |shop| %>
            <tr>
                <td><%= link_to shop.name , products_path() %></td>
                <td><%= shop.description %></td>
                <td><%= cl_image_tag(shop.image, :gravity=>"face", :crop => "fill", :width => 100, :height => 100) %></td>
                <td><%= link_to 'Show', shop %></td>
                <!-- <td><%= link_to 'Show', shop %></td>
                <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
                <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
        <% end %>
    </tbody>

</table>

<br>
<br>


<%= link_to 'New Shop', new_shop_path %>


<!-- CSS  -->

<!-- Retaurants layout  -->
<!-- 1. Create a Div where the list of restaurants will be shown
1.1 Inside this Div we have the Name description, price and the image of the place
2. they are shown 3 per line

  -->

<!-- Menu Layoout -->
<!-- 1. Create one div that shows all the dishes from the loop, they are shown side by side 2 per line
2. create a div with for each product with the Name Description and image 220x176 px  -->
