

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
<div id='shopName'>  <%= @shop.name %></div>
<div class="imageshow">  <%= cl_image_tag(@shop.image) %></div>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>
<div id='shoplatlng'><%= @shop.latlng %></div>

<div id='map'></div>
  <table>
    <thead>
      <tr>
        <th>Product_id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Shop</th>
        <th>Image</th>
        <th>checkBox</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @shop.products.all.each do |product| %>
<div>
        <tr class="data">
          <td class="p_id"><%= product.id %></td>
          <td class="p_name"><%= product.name %></td>
          <td class="p_price"><%= product.price %></td>
          <td class="p_desc"><%= product.description %></td>
          <td class="shop_id"><%= product.shop_id %></td>
          <td><div class="imageshow">  <%= cl_image_tag(product.image) %></div></td>
          <td><input class="checkItem" type="checkbox"/></td>
          <td><input class="quantity" type="number"/></td>
        </tr>
      </div>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="order_div">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody class="order_list">
      </tbody>
    </table>
    <p>Total</p> <p class="total"></p>
  </div>
  <button class="order_btn">order</button>
<%= link_to 'Back', shops_path %>
