<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
<div class="imageshow">  <%= cl_image_tag(@shop.image) %></div>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>Menu:</strong>
  <% @shop.products.all.each do |p| %>
    <li>   <%= p.name %> </li>
  <% end %>
</p>




<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
