<p id="notice"><%= notice %></p>

<div id="jumbo-index-shop" class="jumbotron">
    <div id="map" class="col-md-4">
        <div id='shoplatlng' <%= @shop.latlng %> ></div>
        <div id='map'></div>
    </div>
    <div id="jumbo-text" class="container">
        <div id="Shop-description" class="col-md-8">
            <h1><%= @shop.name %></h1>
            <h3><%= @shop.description %></h3>

            <div class="row">
                <div>
                    <%= image_tag(@shop.image) %>
                </div>
            </div>
        </div>
    </div>
</div>
