<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
           data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
           data-description="A month's subscription"
           data-amount="<%= @total_amount_to_be_paid*100 %>"
           data-locale="auto">
   </script>

<%= link_to 'Edit', edit_order_path(@order) %>
